@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
	font-family: 'Poppins', sans-serif;
}

/*login page css*/
.logo img{
	max-width: 575px;
	width: 100%;
	margin-top: 25%;
}
.grey{
    background-color: #f4f4f6;
    margin: 100px 100px;
    border-radius: 30px;
    padding: 10%;
}

.for-page{
    background-color: #f4f4f6;
    margin: 200px 100px;
    border-radius: 30px;
    padding: 10%;
}
.for-page p{
	font-weight: 600;
	font-size: 15px;
	color: #101010;
	margin-top: 2em;
}
     



.grey h1{
	color: #101010;
	font-size: 30px;
	font-weight: bold;
}
.grey p{
	font-weight: 600;
	font-size: 15px;
	color: #101010;
	margin-top: 2em;
}
.signup select {
   border: 0;
    border-radius: 10px;
    padding: 0.8em;
    width: 100%;
    font-size: 14px;
}
.grey input{
	border: 0px;
	border-radius: 10px;
	padding: 0.8em;
	width: 100%;
}
.login{

	width: 100%;
}
.full{
	height: 100vh;
}
.password{
	text-align: right;
	color: #0964AC !important;
	font-size: 14px !important;
	font-weight: 400 !important;
	margin-top: 1em !important;
}
.btn-pri{
	background-color: #0964AC;
	width: 100%;
	padding: 0.8em;
	color: white;
	border-radius: 10px;
	margin-top: 1em;
}
.small_claim{
	font-weight: 400 !important;
	font-size: 13px !important;
	text-align: center;
}
.small_claim span{
	color: #0964AC !important;
}

.application-page{
    margin: 215px 100px;
    background-color: #f4f4f6;
    padding: 80px 45px;
    border-radius: 35px;
}
@media only screen and (max-width: 600px) {
.grey {
    background-color: #f4f4f6 !important;
    margin: 5px !important;
    border-radius: 30px;
    padding: 10%;
}
	
.for-page {
    background-color: #f4f4f6 !important;
    margin: 5px !important;
    border-radius: 30px;
    padding: 10%;
}
.for-page h1{
    font-size:24px !important;
}
.application-page{
	background-color: #f4f4f6 !important;
    margin: 5px !important;
    border-radius: 30px;
    padding: 10%;
	}
	.full{
		padding-left: 0% !important;
		padding-right: 0% !important;
	}
	.small_claim{
		margin-top: 10px !important;
	}
	.moblkj{
		margin-bottom: 1em;
	}
	.moblkj2{
	margin: auto;
    text-align: center;
    display: block;
	}
	.search{
		margin-left: 0em !important;
	}
	.mobbtn{
		margin: auto;
    text-align: center;
    display: block;
    width: 100%;
    max-width: 100%;
	}
	.btn-pre{
		max-width: 100% !important;
	}
	.btn-ext{
		max-width: 100% !important;
		margin-left: 0% !important;
		margin-top: 1em;
	}
	.mobvaccine{
		width: 100%;
	}
	.mobpjc{
		width: 100%;
	}
	.btn-pjc, .btn-ra{
		max-width: 100% !important;
	}
	ul.hmenu3 li{
		display: block !important;
	}
	.mob2lnk input{
		width:  100% !important;
	}
	.five{
		width:  100% !important;
		margin-bottom: 5em;
	}
}

/*forget password page css*/
.small_login span{
	font-weight: 400 ;
	font-size: 13px ;
	color: #0964AC !important;
}

/*reset password*/
.rp{
	margin-top: 2em;
}

/*application page css*/
.login img{
	max-width: 50px;
	width: 100%;
}

/*signup page css*/
.grey2 {
    background-color: #f4f4f6;
    margin: 44px 20px;
    padding: 50px;
    border-radius: 30px;
}
.signup{

	width: 100%;
}
.grey2 h1{
	color: #101010;
	font-size: 30px;
	font-weight: bold;
}
.signup p{
	font-weight: 600;
	font-size: 15px;
	color: #101010;
	margin-top: 1em;
	margin-bottom: 0.5em;
}
.signup input{
	border: 0px;
	border-radius: 10px;
	padding: 0.8em;
	width: 100%;
}
.sign{
	margin-top: 2em;
}

/*codebook page css*/
.navbar{
	width: 100%;
	background-color: #F4F4F6 !important;
}
.navbar-nav{
	margin: auto;
}
.navi{
	padding-top: 1em;
	padding-bottom: 1em;
}
.nav-link{
	color: #0964AC !important;
	padding-right: 1.5rem !important;
    padding-left: 1.5rem !important;
    font-size: 15px;
    border-right: 1px solid #C8C8C8;
}
.nm{
	border-right: 0px solid #C8C8C8;
}
.navbar-text b{
	color: #0964AC;
	font-size: 15px;
	font-weight: 600;
}
.navi p{
	font-size: 14px;
	font-weight: 500;
}
.navi span{
	color: #0964AC;
}
/* Style the tab */
.tab {
  float: right;
  width: 15%;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  color: black;
  padding: 15px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
  text-align: center;
  background: transparent url('img/Rectangle 5066.png') 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000021;
  border-radius: 15px;
  margin-bottom: 0.8em;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 25px 22px;
  width: 84%;
  border-left: none;
  background-color: #F4F4F6;
  border-radius: 20px;
}
.tablinks2{
border: 1px solid #00AF40 !important;
border-radius: 10px;
color: #00AF40 !important;
}
.ln p{
	border-bottom: 1px solid #DCE0EC;
	margin-top: 1.8em;
}
.lnno{
	border-bottom: 0px solid #DCE0EC !important;
}
.ln input{
	border: 0px;
	padding: 0.5em;
	background-color: white;
	border-radius: 10px;
	width: 65%;
}
.lkj{
	width:  100% !important;
}
.search{
	background-color: #0964AC !important;
	margin-left: 1em;
	padding: 7px 3.5em;
	color: white;
	border-radius: 10px;
}

@media only screen and (max-width: 600px){
	.tab{
		float: none;
    width: 100%;
	}
	.tabcontent{
		width:  100%;
	}
	.filters{
		width: 20% !important;
    float: left;
    color: white !important;
    font-size: 0px !important;
	}
	.prints{
		width: 30% !important;
		float: left;
	}
	.excel{
		width: 50% !important;
		float: left;
	}
	.ln input{
		width:  100%;
	}
	.lkj{
		width:  100% !important;
	}
	.tabright{
		width: 55% !important;
		margin: auto;
	}
}
/*codebook detail page css*/
.decoration h2{
	font-size: 36px;
	color: #0964AC;
	font-weight: 600;
	margin-top: 1em;
}
.deco{
	background-color: #F4F4F6;
	border-top-right-radius: 50px;
	border-top-left-radius: 50px;
}
.deco h3{
	color: #101010;
	font-size: 15px;
	text-align: center;
	font-weight: 600;
	padding: 2em 0px;
}
.deco2 {
	background-color: #FBFBFB;
}
.deco2 p{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	padding: 1em;
}
.deco3 {
	background-color: white;
}
.deco3 p{
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	padding: 1em;
}
.lts{
	text-align: left !important;
	padding-right: 2em !important;
	padding-left: 2em !important;
}
.decoration{
	padding: 0px 1em 0px 2em;
}
@media only screen and (max-width: 600px){
	.deskdeco, .deskdeco2, .deskdeco3{
		display: none;
	}
}
.mobdecogrey{
	background-color: #F4F4F6;
	padding: 1em;
	border-radius: 38px 38px 0px 0px;
}
.mobdeco{
	background-color: white;
	margin: 0px;
	padding: 1em;
	border-radius: 16px;
}

/*info page css*/
ul.hmenu li {
  display:inline;
  margin-right: 2em;
}
.hmenu{
	background-color: #F4F4F6;
	padding: 2em;
	max-width: 870px;
	width: 100%;
	border-radius: 20px;
	margin-top: 3em;
}
.hs h2{
	font-size: 16px;
	color: #0964AC;
	margin-bottom: 1em;
}
.btn-dwnld{
	background: transparent url('img/Rectangle 5160.png') 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000021;
border-radius: 10px;
padding: 0.8em 2em;
margin-top: 4em;
float: right;
}
@media only screen and (max-width: 600px){
.desk button{
margin-top: 0px;
}
.desk{
	padding-top: 1em;
}
.mob{
display: none;
}
ul.hmenu li{
	width: 100%;
	display: block;
}
.lnk input, .lnk2 .as{
	width: 100% !important;
}
ul.hmenu2 li{
	width: 100%;
	display: block !important;
}
}
@media only screen and (min-width: 601px){
.desk{
	display: none;
}
}
/*download page css*/
ul.hmenu2 li {
  display:inline;
  margin-right: 1em;
}
ul.hmenu2{
padding-left: 0px;
}
.btn-pre{
	background-color: #0964AC;
border-radius: 10px;
max-width: 200px;
width: 100%;
color: white;
}
.btn-ext{
	background: transparent url('img/Rectangle 5163.png') 0% 0% no-repeat padding-box;
border: 1px solid #0964AC;
border-radius: 10px;
max-width: 200px;
width: 100%;
color: #0964AC;
margin-left: 3%;
}
.dlnd{
	padding-top: 1em;
}
.download h3, .download p{
	text-align: left;
}
.dload{
	margin-top: 2em;
}

/*view jobs page css*/
.green{
	color: #00AF40;
}
.orange{
	color: #EE6F00;
}
.btn-vaccine{
	background-color: #00AF40;
border-radius: 10px;
padding: 0.8em;
color: white;
}
.lnk input{
	border: 0px;
    padding: 0.5em;
    background-color: white;
    border-radius: 10px;
    width: 65%;
}
.btn-vsearch{
	background-color: #0964AC !important;
    padding: 0.7em 0px;
    width: 100%;
    color: white;
    border-radius: 10px;
    margin-top: 1em;
}

/*view job details page css*/
.lnk2 .as {
    border: 0px;
    padding: 0.5em;
    background-color: white;
    border-radius: 10px;
    width: 65%;
}
.btn-pjc ,.btn-ra{
	background-color: transparent !important;
    padding: 0.7em 0px;
    width: 100%;
    max-width: 200px;
    color: #0964AC;
    border-radius: 10px;
    margin-top: 1em;
    border: 2px solid #0964AC;
}
.nresult{
	text-align: center;
	font-size: 34px;
	font-weight: 400;
	padding: 1em;
	width: 100%;
	color: #1010106E;
	margin-top: 5em;
	margin-bottom: 2em;
}

/*request induction page css*/
.leftgrey{
	background-color: #F4F4F6;
	border-top-right-radius: 10px;
	padding-top: 2em;
	padding-left: 3em;
}


/*job detail page css*/
.prev, .nex{
	float: right;
	background-color: #F4F4F6;
border: 1px solid #DBDDE5;
border-radius: 10px;
padding: 0.8em 2em;
margin-right: 1em;
}

.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom:0;
    border-right: 1px solid #ddd;
    width: 100%;

}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    background: #F4F4F6;
    margin-top: 1em;
}

.nav-tabs .nav-link.active {
    color: white !important;
    background-color:#0964AC !important;
    border-color: transparent !important;
    border-top-right-radius: 10px !important;
    border-bottom-right-radius: 10px;
    margin-top: 0px;
}
.nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: 0rem!important;
    border-top-right-radius: 0rem!important;
}
.tab-content>.active {
    display: block;
    background: #F4F4F6;
    min-height: 165px;

}
.nav.nav-tabs {
    float: left;
    display: block;
    margin-right: 20px;
    border-bottom: 0;
    border-right: 1px solid transparent;
    padding-right: 0px;
    background-color: #F4F4F6;
}
.tab-content{
	width: 100%;
}
.leftjd{
	max-width: 14%;
	width: 100%;
}
.leftjd ul li a{
	padding: 15px;
	color: #101010 !important;
}
.allinfo{
	margin-top: 1em;
}
.rightjd{
	flex: 1 0 83.333333%;
	max-width: 86%;
}
.tab-pane{
	padding: 2em;
	border-radius: 10px;
}

/*job detail 2 page css*/
.expandbtn button{
	box-shadow: 0px 3px 6px #00000021;
border-radius: 10px;
background-color: white;
padding: 0.5em 2em;
border: none;
margin-right: 1em;
color: #101010;
}
.jobdetailbg{
	background-color: #F4F4F6;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	padding-top: 2em;
	margin-top: 2em;
}
.twelve{
	width: 8%;
	display: inline;
}
.twelve p{
	text-align: center;
}
.secondtext{
	background-color: #FBFBFB;
	border-top-right-radius: 25px;
	border-top-left-radius: 25px;
	padding-top: 2em;
}
.secondtext2{
	background-color: white;
	padding-top: 2em;
}
.secondtext3{
	background-color: #FBFBFB;
	padding-top: 2em;
}
.total{
	background-color: #E3E3E3;
	padding-top: 2em;
	padding-bottom: 1.5em;
}
.total p{
	font-size: 14px;
}

/*dashboard page css*/
.hmenu3{
	background-color: #F4F4F6;
    padding: 2em;
    max-width: 1070px;
    width: 100%;
    border-radius: 20px;
    margin-top: 3em;
    margin-bottom: 5em;
}
ul.hmenu3 li {
    display: inline;
    margin-right: 2em;
}
.lnk2 input{
	border: 0px;
    padding: 0.5em;
    background-color: white;
    border-radius: 10px;
    width: 28%;
}
.five{
	width: 20%;
	display: inline;
}
.pricebox{
width: 100%;
max-width: 250px;
margin: auto;
display: block;
box-shadow: 0px 3px 6px #00000021;
border-radius: 15px;
position: relative;
}
.pricebox h2{
	text-align: center;
	font-size: 21px;
	font-weight: 600;
	padding: 2em 0px;
}
.pricebox h3{
	text-align: center;
	font-size: 18px;
	font-weight: 600;
	padding: 0em 0px 5em 0px;
}
.pricebox button{
	background-color: #0964AC;
	color: white;
	max-width: 175px;
	width: 100%;
	font-size: 32px;
	font-weight: 600;
	padding: 1em;
	margin: auto;
	display: block;
	border-radius: 15px;
	border: none;
	position: absolute;
	bottom: -2em;
	left: 1em;
}
.may p{
	text-align: center;
	color: #0964AC;
	font-size: 24px;
	font-weight: 600;
}
.may{
	margin-top: 6em;
}
.may img{
	background-color: white;
	box-shadow: 0px 3px 6px #00000021;
	padding: 0.5em;
	border-radius: 50%;
}
.chart img{
	width: 90%;
	margin: auto;
	display: block;
}
.chart{
	padding: 2em 0px;
	position: relative;
}


.modal.left .modal-dialog {
	position:fixed;
	right: 0;
	margin: auto;
	width: 320px;
	height: 100%;
	-webkit-transform: translate3d(0%, 0, 0);
	-ms-transform: translate3d(0%, 0, 0);
	-o-transform: translate3d(0%, 0, 0);
	transform: translate3d(0%, 0, 0);
}

.modal.left .modal-content {
	height: 100%;
	overflow-y: auto;
}

.modal.right .modal-body {
	padding: 15px 15px 80px;
}

.modal.right.fade .modal-dialog {
	left: -320px;
	-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
	-moz-transition: opacity 0.3s linear, left 0.3s ease-out;
	-o-transition: opacity 0.3s linear, left 0.3s ease-out;
	transition: opacity 0.3s linear, left 0.3s ease-out;
}

.modal.right.fade.show .modal-dialog {
	right: 0;
}

/* ----- MODAL STYLE ----- */
.modal-content {
	border-radius: 0;
	border: none;
}

.modal-header {
	border-bottom-color: #eeeeee;
	background-color: #fafafa;
}

/* ----- v CAN BE DELETED v ----- */

.demo {
	padding-top: 60px;
	padding-bottom: 110px;
}

.btn-demo {
	margin: 15px;
	padding: 10px 15px;
	border-radius: 0;
	font-size: 16px;
	background-color: blue;
	position: absolute;
	right: 1em;
	bottom: 1em;
}

.btn-demo:focus {
	outline: 0;
}
.trytabc{
	width: 100%;
	padding: 0px;
}
.trytabbtn{
	width: 55px !important;
	height: 55px;
	display: inline-block !important;
	border-radius: 50px !important;
	margin-bottom: 0px !important;
}
.tabright{
	width: 100%;
	max-width: 200px;
}
.lnp p{
	margin-top: 1em;
}

.navi button:hover{
	background-color: #ddd;
}
.trytabbtn{
	display: block;
    color: black;
    padding: 15px 16px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
    text-align: center;
    background-color: white;
    box-shadow: 0px 3px 6px #00000021;
    border-radius: 15px;
    margin-bottom: 0.8em;
}
.tabs{
	float: right;
    width: 100%;
    max-width: 139px;
}
@media only screen and (max-width: 768px){
	.desktopbtn{
		display: none !important;
	}
	.tabs{
		max-width: 185px;
	}
	.hs{
		padding: 0px 1em;
	}
}
@media only screen and (min-width: 769px){
	.mobilebtn{
		display: none !important;
	}
}


.current {
  color: #00AF40 !important;
}

#pagin li {
  display: inline-block;
    font-size: 20px;
    border: 1px solid black;
    width: 30px;
    height: 30px;
    border-radius: 50px;
    text-align: center;
  
}
#pagin li a{
	color: #212529;
}

.prev2 {
  cursor: pointer;
border: none !important;
}

.next2 {
  cursor: pointer;
  border: none !important;
}

.last{
  cursor:pointer;
  margin-left:5px;
}

.first{
  cursor:pointer;
  margin-right:5px;
}
#pagin{
	margin: auto;
    max-width: 300px;
    width: 100%;
    padding: 1em 0px;
}
.prev2, .next2 {
    float: right;
    /* background-color: #F4F4F6; */
    border: 1px solid #DBDDE5;
    border-radius: 10px;
    /* padding: 0.8em 2em; */
    /* margin-right: 1em; */
}
@media only screen and (max-width: 600px){
	.mobilehide{
		display:  none;
	}
}
.mobilehide{
	width: 100%;
}